# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments / Conda
.conda/
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution / build
build/
dist/
*.egg-info/
